.profile {
  height: calc(100vh - 80px);
  .p_15px {
    padding: 15px;
  }
  .p_y_25px {
    padding: 25px 0;
  }
  .m_r_20px {
    margin-right: 20px;
  }
  .m_l_120px {
    margin-left: 120px;
  }
  .h_100px {
    height: 100px;
  }
  .h_32px {
    height: 32px;
  }
  .w_100px {
    width: 100px;
  }
  .w_300px {
    width: 300px;
  }
  .w_60 {
    width: 60%;
  }
  .font_15 {
    font-size:15px
  }
  .font_26 {
    font-size:26px
  }
  .color-444 {
    color: #444
  }
  .bg_gray_3 {
    background: rgba(255, 255, 255, 0.3);
  }
  .bg-FF8462 {
    background: #FF8462;
  }
  .hover:hover > .upload {
    display: block;
  }
}
