.auto_play {
  .line_h_44 {
    line-height: 44px;
  }
  .h_100px {
    height: 100px;
  }
  .h_120px {
    height: 120px;
  }
  .h_60px {
    height: 60px;
  }
  .w_100px {
    width: 100px;
  }
  .w_405 {
    min-width: 405px;
    width: 405px;
    max-width: 405px;
  }
  .m_l_20px {
    margin-left: 20px;
  }
  .m_l_r_15px {
    margin: 0 15px;
  }
  .m_b_20px {
    margin-bottom: 20px;
  }
  .m_t_15px {
    margin-top: 15px;
  }
  .p_b_15px {
    padding-bottom: 15px;
  }
  .-top_7px {
    top: -7px;
  }
  .-right_7px {
    right: -7px;
  }
  .object-fit-cover {
    object-fit: cover;
  }
  .object-fit-content {
    object-fit: contain;
  }
  .left {
    .play_list {
      height: calc(100vh - 80px - 285px - 1rem);
      .play_list_h {
        height: calc(100vh - 80px - 45px - 15px - 285px - 1rem);
        align-content: flex-start;
        overflow: auto;
      }
    }
    .background_list {
      height: calc(45px + 1rem + 200px + 40px);
      overflow: hidden;
      .background_list_h {
        height: calc(45px + 1rem + 200px + 40px - 45px);
        overflow: auto;
      }
    }
  }
  .center {
    .play_window_h {
      height: calc(100vh - 80px - 75px);
      background: white;
      overflow: hidden;
    }
    .person_h_straight {
      width: 35vh;
      height: 60vh;
    }
    .window_level {
      height: 230px;
    }
    .person_h_level {
      height: 100%;
      width: 30%;
    }
    .bg_ccc {
      background: #ccc;
    }
    .bg-ff8462 {
      background: #FF8462;
    }
    .bg-001529  {
      background: #001529;
    }
    .color_ff8462 {
      color: #ff8462;
    }
    .w_20vh {
      width: 20vh;
    }
    .h_20vh {
      height: 20vh;
    }
    .w_20px{
      width: 20px;
    }
    .h_20px{
      height: 20px;
    }
  }
}
