.goodsmanage {
  // 内部区域高度
  .goodsmanage_h_full {
    height: calc(100vh - 50px - 30px);
  }
  // 商品图片区域高度
  .list_h_full {
    height: calc(100vh - 50px - 30px - 62px) !important;
    padding-bottom: 16px;
    box-sizing: border-box;
    overflow: auto;
  }
}

.bg-ff8462 {
  background: #ff8462;
}
.color-ee6843 {
  color: #ee6843;
}
.goods_item__hover:hover > .edit {
  display: flex;
}

.reload:active {
  background: rgb(219, 216, 216);
}

